# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables (API keys)
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/exams/교재모음/대학물리학 I 교재.pdf
public/exams/교재모음/핵심미적분학.pdf
public/exams/인공지능수학기초/인수기 필기노트.pdf
